anyio
beautifulsoup4
certifi
charset-normalizer
cloudscraper
discord-webhook
h11
httpcore
httpx
idna
pyparsing
python-telegram-bot
requests
requests-toolbelt
sniffio
soupsieve
typing_extensions
urllib3
