[Unit]
Description=Discord Bot of Code Parser
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=%h/.local/bin/code-parser
ExecStart=%h/.local/bin/code-parser/.venv/bin/python3 -m bots.discord.main
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
